
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* background color  */
    --bg-primary:#F0EEED;
    --bg-secondary:#0F6292;
    --bg-black:#222222;
    --bg-white:#ffffff;
    --bg-gray:#999DA0;

    /* text color */
    --text-primary:#FFB100;
    --text-secondary:;
    --text-light-sky:hsl(249, 100%, 24%);
    --text-black:#222222;
    --text-white:#ffffff;
    --text-gray:#999DA0;
    --text-warning:#0F6292;

}

a{
    text-decoration: none;
}
li{
    list-style: none;
    margin: 0 10px;
}

::-webkit-scrollbar{width: 6px;}
::-webkit-scrollbar-thumb{width: 3px;background-color: var(--bg-secondary)}


.top-menu{
    /* padding: 10px 0; */
    background-color: var(--bg-primary);
    width: 100%;
}
.top-menu .side{
    display: flex;
    justify-content: space-between;
}

.serach-menu{
    display: flex;
    /* padding: 8px 0; */
}
.serach-menus li a{font-size: 13px;text-decoration: none;}

.serach-menu li a{
    text-decoration: none;
    font-size: 13px;
    transition: all 0.3s ease-in-out;
    font-weight: 400;
    font-family: sans-serif;
   
}

.serach-menu li a:hover{
    color: var(--text-gray);
}

/* .serach-menu .serch-box input{
    padding: 4px;
    
} */

 .custom-icon{
    background-color: #60A3D9;
    color: var(--text-white);
    padding: 5px 5px;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
   
}
.custom-icon:hover{
background-color:var(--bg-gray)

}

.navbar{
    /* background-color: #145DA0; */
    /* background-color:#3b5998; */
    background-color: #175799;

}

.navbar .nav-item .nav-link{
    color:var(--text-primary);
    font-size:14px;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}
.navbar .nav-item .nav-link:hover{
    /* background-color: var(--bg-secondary); */
    background-color:#3b5998;
    transform: translateY(-2px);
    color: var(--text-white);
    display: inline-block;
}
 .carousel-control-next-icon,.carousel-control-prev-icon{
    background-color:var(--bg-secondary);
    color: var(--text-white);
    padding: 10px;
    font-weight: 900;
    transition: all 0.3s ease-out;
}
.carousel-control-next-icon:hover,
.carousel-control-prev-icon:hover{
    background-color: var(--bg-gray);
}
.carousel-item img{
    /* opacity: 0.9; */
    transition: all 0.5s ease-in-out;
}
.carousel-item img:hover{
    opacity: 0.8;
   cursor: pointer;
}
/* .carousel-control-next-icon,.carousel-control-prev-icon:hover{
    background-color: var(--bg-black);
    color: var(--bg-primary);
} */

.main-btn{
    display: inline-block;
    padding: 9px 15px;
    border: none;
    /* background-color: var(--bg-black); */
    background-color:#5885AF;
    color: var(--text-white);
    transition: all 0.3s ease-in-out;
    font-size: 13px;
}
.main-btn:hover{
    /* background-color: var(--bg-secondary); */
    opacity: 0.5;
    color: white;
}


.right-side-slide .vice-choncller p{
    /* background-color: #145DA0; */
    background-color: #175799;
    padding: 10px 0;
    color:var(--text-primary);
    text-align: center;
   
}
.right-side-slide .vice-choncller img{
    height: 250px;
}

.vice-choncller .card p{
    color: var(--text-black);
    background-color: #F6F7C1;
    transition: all 0.4s ease-in-out;
}
.vice-choncller .card p:hover{
    color: #5885AF;
}
.card{
    box-shadow: 0px 0px 10px gray;
}
.carousel-item p{
   /* background-color: rgba(0, 0, 0, 0.6); */
   background-color: black;
   color: var(--text-white);
   padding: 10px;
  opacity: 0.8;
 
}

.navbar-nav input[type="search"]{
    color: black;
    font-size: 16px;
 }
 .navbar-nav input:focus{
    border: 1px solid gray;
    box-shadow: none;
 }


.carousel-inner{
    box-shadow: 0px 0px 5px gray;
}

/* drop down menu */
.dropdown:hover .dropdown-menu{
    display: block;
}
.dropdown .mega-menu{
    background-color:transparent;border: none;
    
}
.dropdown-menu{
    border:none
}
.dropdown-menu .dropdown-item{
    padding: 12px 30px 12px 30px;
    color: var(--text-black);
    background-color: white;
   font-size: 14px;
   font-family: arial;
   font-weight: lighter;
   border-bottom: 1px dotted gray;
   border-left: 1px dotted gray;
   /* animation: rotate 1.5s ease 1; */

}
@keyframes rotate{
     0%{
        transform: perspective(60px) rotate(90deg);
     }
     100%{
        transform: perspective(60px) rotate(0deg);
     }
}

.dropdown-menu .dropdown-item:hover{
   /* background-color: var(--bg-secondary); */
   background-color:#334a7d;
   color:var(--text-primary);
}


/* BANNER SECTION STYLE */
.banner_wrapper .container{
   
}
.banner_wrapper h6{
    /* background-color: var(--bg-secondary); */
    background-color: #175799;
    /* padding: 13px; */
    padding: 15px 5px;
    font-weight: 700;
    transition: all 0.4s ease-in-out;
    text-align: center;
    box-shadow: 0px 0px 10px gray;

}
.banner_wrapper h6:hover{
    background-color:#5885AF;
    
}
.banner_wrapper a{
    text-decoration: none;
    color: var(--text-primary);
    font-weight: 700;
}
.banner_wrapper a:hover{
    color:var(--text-primary);
}
.banner_wrapper .small_anker{
    background-color: #F6F7C1;
}
.banner_wrapper .small_anker a{
    color: transparent;
    color: var(--text-black);
    padding: 8px 0;
    display: block;
    font-size: 14px;
    font-weight: 500;
    transition: all 0.4s ease-in-out;
    text-align: center;
    
}
.banner_wrapper .small_anker a:hover{
    background-color: var(--bg-secondary);
    /* background-color: #5885AF; */
    color: var(--text-primary);
    text-align: center;
}


/* carousal 2nd start */

.scroll-carsual{
    /* background-color: var(--bg-secondary); */
    /* background-color: #2e4e8c; */
    background-color: #175799;
    color: var(--text-white);
 
    
}


.scroll-carsual h3{
    padding: 14px;
}
.scroll-carsual p{
    background-color: transparent;
    text-align: center;
    font-size: 14px;
    padding: 14px;
    text-align: left;
    font-weight: 500;
    line-height: 20px;
    align-items: center;
}



/* box_section start */

  .box_section {
    /* border:20px solid #F6F7C1; */
   
    /* background-color:#FFF1DC; */
    background-color:#ECF2FF;
    
  }
  .box_section .first_box h5{
    background-color: #175799;
    /* padding: 13px; */
    padding: 8px 5px;
    font-weight: 600;
    color: var(--text-primary);
    /* margin: 20px 5px; */
    text-align:center;
   font-size: 18px;
    

  }
  .box_section .first_box{
    border-right: 30px solid #F6F7C1;
  }
  
  .box_section .first_box .card-1{
    margin: 10px 30px;
    padding: 10px;
    box-shadow: 0px 0px 10px gray;
    background-color: #F6F7C1;
    transition: all 0.5s ease-in-out;
  }
  
  .box_section .first_box span:hover{
    color:var(--text-primary);
  }

  .box_section .first_box .card-custom{
    background-color: transparent;
  }
  .box_section .first_box .card-1:hover{
    color:var(--text-warning);
  }
  .box_section .first_box .card-1 a{
    text-decoration: none;
    font-size: 13px;
    color:var(--text-black);
    font-weight: 700;
    text-align:justify;
    font-family:'arial', sans-serif;
    
    transition: all 0.4s ease-in-out;
  }
  .box_section .first_box .card-1 a:hover{
    color:var(--text-warning);
  }
  .box_section .first_box .card-1 p span{
    color:gray;
    font-size: 13px;
  }

  .btn{
    margin-left:20px;
  }
  .btn button{
    padding: 5px 18px;
    border-radius: 20px;
    border: none;
    background-color: var(--bg-secondary);
    color: var(--text-primary);
    transition: all 0.4s ease-in-out;
  }
  .btn button:hover{
    background-color: var(--bg-gray);
    color: var(--text-black);
  }
/* box box_section exit */

/* footer start  */
.footer_wrapper{
    background-color: #175799;
   
}
.footer_wrapper h6{
    color: var(--text-white);
    font-weight: 800;
}
.footer_wrapper li{
    padding: 6px 0;
    border-bottom: 1px dotted #ECECEC;
    
}
.footer_wrapper li a{
    text-decoration: none;
    color:var(--text-white);
    font-weight: 500;
    font-family: sans-serif;
    transition: all 0.5s ease-in-out;
}
.footer_wrapper li a:hover{
    color:#Eb455f;
    transform:translateX(5px);
}
.footer_wrapper .map{
    
}
.footer_wrapper .contact{
    background: white;
    color: var(--text-black);
    padding: 0 20px;
    box-shadow: 0px 0px 10px gray;
}
.footer_wrapper .contact p{
    color: var(--text-gray);
    color: 10px;
    font-weight: 500;
}
.footer_wrapper .contact span{
    color: var(--text-black);
}
.footer_wrapper .contact h6{
    background-color:#175799;
    padding: 15px;
}
.footer_wrapper .social-media img{
    width: 20px;
}
.copy_right{
    margin-top: 20px;
    background-color: var(--bg-secondary);
    box-shadow: 0px 0px 10px var(--text-warning);
    padding: 15px 0;
}
.copy_right p{
    font-size: 14px;
    font-weight: 400;
    color: white;
    transition: all 0.5s ease-in-out;
}
.copy_right p:hover{
    color: #Eb455f;
}
.social-media li{
    display: inline-block;
}
.social-media .icon{
    background-color:#175799;;
    padding: 10px;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
}
.social-media .icon:hover{
    background-color:#Eb455f;
    color: white;
    padding: 10px;
   /* transform:translateY(-3px); */
   transform: scale(1.3);
}
/* footer exit */


.light-mode{
    background-color: #Eb455f;
    color: var(--bg-white);
    transition: all 0.4s ease-in-out;
}


/* Genesis_page_style START  */
.Genesis_page_style h3{
   color: #222222;
    padding: 0.70rem 0;
}

/* accrodin css start */
.accordion{
    padding: 4rem 0;
}
.accordion .accordion-button{
background-color:var(--bg-secondary);
color: #F6F7C1;
}
 .card .card-body{
    opacity: 1.9;
    transition: all 0.4s linear;
}
 .card .card-body:hover{
    opacity: 1.5;
}
.collapseOne{
    background-color: #Eb455f;
}

 
.accordion-header:hover button{
    background-color: #60A3D9;
    color: #F0EEED;
}

.accordion-item{
    margin: 2rem 0;
}
.accordion-item span{
    background-color: #FF8B13;
    color: white;
    padding: 15px;
    border-radius: 25px;
}
marquee{
    padding: 10px;
    background-color: red;
    color: white;
    font-size: 40px;
}


@media screen and(max-width:600px){
   .contact{
    background-color: red;
   }

   @media (prefers-color-scheme:dark){
         :root{
            --text-light-sky:hsl(249, 100%, 24%);
         }
   }
}